framebuffer.tga
wireFrameImage.tga
zBuffer.tga
camera_zbuffer.tga
mask.tga
shadow_zbuffer.tga
shadow.tga
shadowmap.tga
ssao.tga
solution.txt


.vs/
build/
out/
output/
x64/
Tinyrenderer/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
